body {
 background-color: #000000;
 color: #000000;
}

h1 {
 color: #FFFFFF;
 text-align: center;
  margin-bottom: 30px;
 margin-top: 30px;
 margin-right: 75px;
 margin-left: 75px;
}

p {
 background-color: #FFFFFF;
 color: #FFFFFF;
 text-align: right;
 border: 3px groove #FFFFFF;
 margin-bottom: 30px;
 margin-top: 30px;
 margin-right: 75px;
 margin-left: 75px;
}